body {
    /*background:#f73a63;*/
    background-image: linear-gradient(-145deg, #f73a63, rgb(250, 108, 108));  
}

html {
    scroll-behavior: smooth;
  }

 
    
/*Första sektionen*/

nav {
    background: none;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0.2em;
    /*margin: 0.5em;*/
    
    
}


#navbar{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-bottom: 30px;*/
    font-size: 20px;
    color: whitesmoke;
    max-width: 2000px;
    margin: auto;
}

#navwork {
    margin-left: 0.5em;

}

#navcontact {
    margin-right: 0.5em;

}


    
  



#navbar li {
    margin: 0 0px 0 0px;
    
  }

a {
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;

}

a:hover{
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: blue;
    text-decoration: none;
    transform: rotate(20deg);

}

main{
    max-width: 2000px;
    margin: auto;
    overflow: auto;
    margin-top: 30px;
    position: relative;


}

#firstsection {
    height: 100vh;
    max-width: 2000px;
    position: relative;
    top: 40px;
    
    
}

.about {
    font-family: "Helvetica Neue";
    font-size: 10vh;
    color: whitesmoke;
    /*margin: 0.2em;*/
    
    
}



a.hyper, a.mail {
    font-family: "Helvetica Neue";
    font-size: 10vh;
    color: whitesmoke;

}


a.hyper:hover, a.mail:hover {
    color: blue;
}

#cv {
    font-size: 12px; 
}

#cv:hover {
    color: blue;
}



#code:hover{
    background-image: url("media/code.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: top;
    background-position-x: right;
}




#Lager_1 {
   width: 200px;
   fill: blue;
   position: absolute;
   z-index: -1;
   top: 250px;
   right: -20px; 
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
      from {
              -webkit-transform: rotate(0deg);
      }
      to {
              -webkit-transform: rotate(359deg);
      }
}
  
/* Mitt sektionen*/

#mid_section{
    height: 100vh;
    position: relative;
    background: rgb(255, 145, 0);
    /*background-image: linear-gradient(-45deg, rgb(255, 72, 0), orange);*/
}


        
    

 
 .work {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
        background: transparent;
        
  
  }

  #image {
    margin: auto;
    height: 80vh;
    margin-top: 10vh;
    /*margin-bottom: 0px;
    margin-top: 80px;*/
  }

  #imagemob {
    display: none;
    /*margin-bottom: 0px;
    margin-top: 80px;*/
  }

  #worktextmob {
      display: none;
  }

  #Lager_2 {
    width: 180px;
    fill: blue;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 0; 
   -webkit-animation: rotation 6s infinite linear;
 }
 
 @-webkit-keyframes rotation {
       from {
               -webkit-transform: rotate(0deg);
       }
       to {
               -webkit-transform: rotate(359deg);
       }
 }

 /* sista sektionen*/

 #last_section{
    height: 100vh;
    position: relative;
    background-image: linear-gradient(-45deg, #f73a63, rgb(250, 108, 108));
    overflow: hidden;
}

p {
    font-family: "Helvetica Neue";
    font-size: 10vh;
    z-index: 100;
    color: whitesmoke;
    margin: 0.2em;
    padding-top: 40px;
    
    
}

#Lager_3 {
    width: 180px;
    fill: blue;
    position: absolute;
    z-index: 1;
    
    
   -webkit-animation: rocket 4s linear;
   animation-iteration-count: infinite;
   animation-fill-mode: forwards

 }
 
 @-webkit-keyframes rocket {
     0% {
        -webkit-transform: translateX(-10vw) translateY(100vh) rotate(90deg);
    }
    50% {
        -webkit-transform: translateX(50vw) translateY(50vh) rotate(100deg);
    }
    100% {
        
        -webkit-transform: translateX(110vw) translateY(10vh) rotate(120deg);
     }
   
 }

    




footer {
    position: absolute;
    width: 100%;
    bottom: 2em;
    height: 10vh;
    left: 0.5em;
    /*padding: 0.5em;*/
    z-index: 200;
    background: none;
    
}







  #foot {
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex-shrink: 0;
      /*margin: 0;*/
      

  }

#foot li {
    margin-bottom: 0px;
    font-size: 20px;
    color: white

  }

  #foot_right {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 20px;
    color: whitesmoke;
    z-index: 201;
    

  }

@media only screen and (max-width: 800px){

    #firstsection {
        height: 100vh;
        max-width: 800px;
        top: 10px;
    }

    .about {
        font-family: "Helvetica Neue";
        font-size: 9vh;
        color: whitesmoke;
        max-height: 100vh;
        
        
        
    }

    p {
        font-size: 9vh;
        
    }

   a.hyper, a.mail{
        font-size: 9vh;
        color: whitesmoke
    
    }

    #image {
        margin: auto;
        height: 60vh;
        margin-top: 20vh;
        /*margin-bottom: 0px;
        margin-top: 80px;*/
      }
    
      #mid_section{
        height: 100vh;
        position: relative;
        /*background-image: linear-gradient(-45deg, rgb(255, 72, 0), orange);*/
    }
    
    footer {
        bottom: 4em;
    }
    
   

    #Lager_1 {
        width: 100px;
    }

    #Lager_2 {
            width: 100px;
            top: 40px;
        }

    #Lager_3 {
        width: 100px;
    }
        
    
    main{
        margin-top: 10px;
   
    }

  }

  /* resposive for smaler divise */
@media only screen and (max-width: 600px) {

    #firstsection {
        height: 100vh;
        max-width: 600px;
        top: 10px;
    }

    .about {
        font-family: "Helvetica Neue";
        font-size: 7vh;
        color: whitesmoke;
        max-height: 100vh;
        
        
        
    }

    p {
        font-size: 7vh;
        
    }

   a.hyper, a.mail{
        font-size: 7vh;
        color: whitesmoke
    
    }

    #image {
            display: none;
        /*overflow: hidden;*/
      }

    #imagemob {
        display: block;
        max-width: 100%;
        margin-top: 40px;
        /*margin: auto;
        height: 50vh;
        top: 25vh;*/
    }

    #worktextmob {
        display: block;
        font-size: 30px;
        color: whitesmoke;
        left: 2em;
        padding-top: 20px;
        
    }

 
    
      #mid_section{
        height: 100vh;
        position: relative;
        /*background-image: linear-gradient(-45deg, rgb(255, 72, 0), orange);*/
    }
    
    footer {
        bottom: 2em;
    }
    
   

    #Lager_1 {
        width: 80px;
    }

    #Lager_2 {
            width: 80px;
            top: 40px;
        }

    #Lager_3 {
        width: 80px;
    }
        
    
    main{
        margin-top: 10px;
   
    }
}


  

 /*margin-top: 100vh
  
 #hello:hover {
     background: none;
     transform: skewX(10deg);
 